<div class="sidebar-left d-none d-md-block">
    <div class="sidebar-entry text-align-center">
        <h4>Mattressville</h4>
      </div>
    <ul class="left-sidebar">
        {% for link in linklists.left-sidebar.links %}
        <li class="sidebar-items">
            <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
    {% endfor %}
    </ul>
</div>


<div class="accordion sidebar-left d-md-none" id="accordionExample">
    <div class="accordion-item">
      <div class="sidebar-entry" id="headingOne">
        <h4 class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Mattressville
            {{ 'down-arrow.png' | asset_url | img_tag: 'toggle' }}
        </h4>
      </div>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <ul class="left-sidebar">
                {% for link in linklists.left-sidebar.links %}
                <li class="sidebar-items">
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endfor %}
            </ul>
      </div>
    </div>
  </div>