<section class="latest-blogs">
    <div class="container">
     <div class="row">
        <div class="col-12 col-md-4 mb-5 mb-md-0">
            {%- if section.settings.article1 != blank -%}
            <div class="articles">
                <div class="product-image">
                    <a title="Slide-1" href="{{ section.settings.article1.url }}">
                      {{ section.settings.article1.image | image_url: height: 300, width: 300, crop: 'top' | image_tag:
                        loading: 'lazy',
                        width: 300,
                        height: 300,
                        alt: section.settings.article1.image.alt | escape
                      }}
                    </a>
                </div>
                <div class="product-title">
                    <h4>
                      <a href="{{ section.settings.article1.url }}">{{ section.settings.article1.title }}</a>
                    </h4>
                    <div class="meta-data"><strong>{{ section.settings.article1.author }}</strong>|<span> {{ section.settings.article1.updated_at | date: format: 'abbreviated_date' }}</span></div>
                  </div>
                  <p>
                    {{ section.settings.article1.content | strip_html | truncate: 100 }}
                  </p>
                  <a class="button-primary-rounded" href="{{ section.settings.article1.url }}">Read More</a>
            </div>
          {% else %}
          {% assign article = articles['blogs/news/best-mattress-for-better-sleep-1'] %}
          <div class="articles">
            <div class="product-image">
                <a title="Slide-1" href="{{ article.url }}">
                  {{ article.image | image_url: height: 300, width: 300, crop: 'top' | image_tag:
                    loading: 'lazy',
                    width: 300,
                    height: 300,
                    alt: article.image.alt | escape
                  }}
                </a>
              </div>
              <div class="product-title">
                  <h4>
                    <a href="{{ article.url }}">{{ article.title }}</a>
                  </h4>
                <div class="meta-data"><strong>{{ article.author }}</strong>|<span> {{ article.updated_at | date: format: 'abbreviated_date' }}</span></div>
              </div>
              <p>
                {{ article.content | strip_html | truncate: 100 }}
              </p>
              <a class="button-primary-rounded" href="{{ article.url }}">Read More</a>
            </div>
          {%- endif -%}
        </div>
        <div class="col-12 col-md-4 mb-5 mb-md-0">
            {%- if section.settings.article2 != blank -%}
            <div class="articles">
                <div class="product-image">
                    <a title="Slide-1" href="{{ section.settings.article2.url }}">
                      {{ section.settings.article2.image | image_url: height: 300, width: 300, crop: 'top' | image_tag:
                        loading: 'lazy',
                        width: 300,
                        height: 300,
                        alt: section.settings.article2.image.alt | escape
                      }}
                    </a>
                </div>
                <div class="product-title">
                    <h4>
                      <a href="{{ section.settings.article2.url }}">{{ section.settings.article2.title }}</a>
                    </h4>
                    <div class="meta-data"><strong>{{ section.settings.article2.author }}</strong>|<span> {{ section.settings.article2.updated_at | date: format: 'abbreviated_date' }}</span></div>
                  </div>
                  <p>
                    {{ section.settings.article2.content | strip_html | truncate: 100 }}
                  </p>
                  <a class="button-primary-rounded" href="{{ section.settings.article2.url }}">Read More</a>
            </div>
          {% else %}
          {% assign article = articles['blogs/news/best-mattress-for-better-sleep-2'] %}
          <div class="articles">
            <div class="product-image">
                <a title="Slide-1" href="{{ article.url }}">
                  {{ article.image | image_url: height: 300, width: 300, crop: 'top' | image_tag:
                    loading: 'lazy',
                    width: 300,
                    height: 300,
                    alt: article.image.alt | escape
                  }}
                </a>
              </div>
              <div class="product-title">
                  <h4>
                    <a href="{{ article.url }}">{{ article.title }}</a>
                  </h4>
                <div class="meta-data"><strong>{{ article.author }}</strong>|<span> {{ article.updated_at | date: format: 'abbreviated_date' }}</span></div>
              </div>
              <p>
                {{ article.content | strip_html | truncate: 100 }}
              </p>
              <a class="button-primary-rounded" href="{{ article.url }}">Read More</a>
            </div>
          {%- endif -%}
        </div>
        <div class="col-12 col-md-4 mb-5 mb-md-0">
            {%- if section.settings.article3 != blank -%}
            <div class="articles">
                <div class="product-image">
                    <a title="Slide-1" href="{{ section.settings.article3.url }}">
                      {{ section.settings.article3.image | image_url: height: 300, width: 300, crop: 'top' | image_tag:
                        loading: 'lazy',
                        width: 300,
                        height: 300,
                        alt: section.settings.article3.image.alt | escape
                      }}
                    </a>
                </div>
                <div class="product-title">
                    <h4>
                      <a href="{{ section.settings.article3.url }}">{{ section.settings.article3.title }}</a>
                    </h4>
                    <div class="meta-data"><strong>{{ section.settings.article3.author }}</strong>|<span> {{ section.settings.article3.updated_at | date: format: 'abbreviated_date' }}</span></div>
                  </div>
                  <p>
                    {{ section.settings.article3.content | strip_html | truncate: 100 }}
                  </p>
                  <a class="button-primary-rounded" href="{{ section.settings.article3.url }}">Read More</a>
            </div>
          {% else %}
          {% assign article = articles['blogs/news/best-mattress-for-better-sleep-3'] %}
          <div class="articles">
            <div class="product-image">
                <a title="Slide-1" href="{{ article.url }}">
                  {{ article.image | image_url: height: 300, width: 300, crop: 'top' | image_tag:
                    loading: 'lazy',
                    width: 300,
                    height: 300,
                    alt: article.image.alt | escape
                  }}
                </a>
              </div>
              <div class="product-title">
                  <h4>
                    <a href="{{ article.url }}">{{ article.title }}</a>
                  </h4>
                <div class="meta-data"><strong>{{ article.author }}</strong>|<span> {{ article.updated_at | date: format: 'abbreviated_date' }}</span></div>
              </div>
              <p>
                {{ article.content | strip_html | truncate: 100 }}
              </p>
              <a class="button-primary-rounded" href="{{ article.url }}">Read More</a>
            </div>
          {%- endif -%}
        </div>
     </div>
    </div>
  </section>
  {% schema %}
  {
    "name": "Latest Blogs",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "OUR BLOG"
      },
      {
        "type": "article",
        "id": "article1",
        "label": "Article 1"
      },
      {
        "type": "article",
        "id": "article2",
        "label": "Article 2"
      },
      {
        "type": "article",
        "id": "article3",
        "label": "Article 3"
      }
    ]
  }
  {% endschema %}
  