<section class="my-account">
  <div class="page-title">
    <h1>{{ 'customer.addresses.title' | t }}</h1>
  </div>
  <div class="container-fluid">
    <div class="d-flex flex-lg-row flex-column">
      <div class="flex-shrink-1 d-none d-lg-block">
        <div class="side-bar">
          <div class="menu-wrapper">
            <ul class="menu">
              <li>
                <a href="{{ routes.account_url }}">My Orders</a>
              </li>
              <li>
                <a aria-current="page" class="active" href="{{ routes.account_addresses_url }}">{{ 'Address Book' }}</a>
              </li>
              <li>
                <a href="{{ routes.account_logout_url }}">{{ 'customer.log_out' | t }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex-grow-1">
        <div class="account-main">
          <div data-address class="d-flex mt-4 justify-content-end px-2 px-xl-5">
            <button
              type="button"
              class="btn btn-demo-primary"
              data-bs-toggle="modal"
              data-bs-target="#AddAddress"
            >
              {{ 'Add New Address' }}
            </button>
            <div id="AddAddress" class="modal fade" tabindex="-1" aria-labelledby="AddAddress" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
              {%- form 'customer_address', customer.new_address, class: 'modal-content', aria-labelledBy: 'AddressNewHeading' -%}
                <div class="modal-header">
                  <h5 class="modal-title">{{ 'customer.addresses.add_new' | t }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="field mb-3">
                    <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}" class="form-control" />
                  </div>
                  <div class="field mb-3">
                    <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}" class="form-control" />
                  </div>
                  <div class="field mb-3">
                    <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}" class="form-control" />
                  </div>
                  <div class="field mb-3">
                    <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}" class="form-control" />
                  </div>
                  <div class="field mb-3">
                    <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}" class="form-control" />
                  </div>
                  <div class="field mb-3">
                    <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}" class="form-control" />
                  </div>
                  <div class="field mb-3">
                    <select
                      id="AddressCountryNew"
                      name="address[country]"
                      class="form-select"
                      data-default="{{ form.country }}"
                      autocomplete="country"
                    >
                      {{ all_country_option_tags }}
                    </select>
                  </div>
                  <div id="AddressProvinceContainerNew" class="field mb-3 d-none">
                    <select
                      id="AddressProvinceNew"
                      name="address[province]"
                      class="form-select"
                      data-default="{{ form.province }}"
                      autocomplete="address-level1"
                    >
                    </select>
                  </div>
                  <div class="field mb-3">
                    <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}" class="form-control" />
                  </div>
                  <div class="field mb-3">
                    <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}" class="form-control" />
                  </div>
                  <div>
                    {{ form.set_as_default_checkbox }}
                    <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                  </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-demo-primary">{{ 'customer.addresses.add' | t }}</button>
                  <button type="reset" class="btn btn-demo-secondary" data-bs-dismiss="modal">{{ 'customer.addresses.cancel' | t }}</button>
                </div>
              {%- endform -%}
              </div>
            </div>
          </div>
          {%- paginate customer.addresses by 5 -%}
          <div class="customer-addresses p-2 p-xl-5">
            <ul role="list" class="list-group">
              {%- for address in customer.addresses -%}
                <li data-address class="list-group-item">
                  {%- if address == customer.default_address -%}
                    <h2>{{ 'Default Address' }}</h2>
                  {%- endif -%}
                  <div class="d-flex align-items-center">
                    <div class="flex-grow-1" style="margin-bottom:-1rem;">{{ address | format_address }}</div>
                    <div class="flex-shrink-1">
                      <button
                        type="button"
                        id="EditFormButton_{{ address.id }}"
                        aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                        aria-controls="EditAddress_{{ address.id }}"
                        aria-expanded="false"
                        data-address-id="{{ address.id }}"
                        class="btn btn-link"
                        data-bs-toggle="modal"
                        data-bs-target="#EditAddress_{{ address.id }}"
                      >
                        {{ 'customer.addresses.edit' | t }}
                      </button>
                      <button
                        type="button"
                        aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                        data-target="{{ address.url }}"
                        data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                        class="btn btn-link"
                      >
                        {{ 'customer.addresses.delete' | t }}
                      </button>
                    </div>
                  </div>
                  <div id="EditAddress_{{ address.id }}" class="modal fade" tabindex="-1" aria-labelledby="EditAddress_{{ address.id }}" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      {%- form 'customer_address', address, class: 'modal-content' -%}
                        <div class="modal-header">
                          <h5 class="modal-title">{{ 'customer.addresses.edit_address' | t }}</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="field mb-3">
                            <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}" class="form-control" />
                          </div>
                          <div class="field mb-3">
                            <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}" class="form-control" />
                          </div>
                          <div class="field mb-3">
                            <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}" class="form-control" />
                          </div>
                          <div class="field mb-3">
                            <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}" class="form-control" />
                          </div>
                          <div class="field mb-3">
                            <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}" class="form-control" />
                          </div>
                          <div class="field mb-3">
                            <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}" class="form-control" />
                          </div>
                          <div class="field mb-3">
                            <select
                              id="AddressCountry_{{ form.id }}"
                              name="address[country]"
                              class="form-select"
                              data-address-country-select
                              data-default="{{ form.country }}"
                              data-form-id="{{ form.id }}"
                              autocomplete="country"
                            >
                              {{ all_country_option_tags }}
                            </select>
                          </div>
                          <div id="AddressProvinceContainer_{{ form.id }}" class="field mb-3 d-none">
                            <select
                              id="AddressProvince_{{ form.id }}"
                              name="address[province]"
                              class="form-select"
                              data-default="{{ form.province }}"
                              autocomplete="address-level1"
                            >
                            </select>
                          </div>
                          <div class="field mb-3">
                            <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}" class="form-control" />
                          </div>
                          <div class="field mb-3">
                            <input type="tel" id="AddressPhone_{{ form.id }}"  name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}" class="form-control" />
                          </div>
                          <div>
                            {{ form.set_as_default_checkbox }}
                            <label for="address_default_address_{{ form.id }}">
                              {{ 'customer.addresses.set_default' | t }}
                            </label>
                          </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-demo-primary">{{ 'customer.addresses.update' | t }}</button>
                          <button type="reset" class="btn btn-demo-secondary" data-bs-dismiss="modal">{{ 'customer.addresses.cancel' | t }}</button>
                        </div>
                      {%- endform -%}
                    </div>
                  </div>
                </li>
              {%- endfor -%}
            </ul>

            {%- if paginate.pages > 1 -%}
              {%- if paginate.parts.size > 0 -%}
                  <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                    <ul role="list">
                    {%- if paginate.previous -%}
                      <li>
                        <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                          <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                          </svg>
                        </a>
                      </li>
                    {%- endif -%}

                    {%- for part in paginate.parts -%}
                      <li>
                        {%- if part.is_link -%}
                          <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                        {%- else -%}
                          {%- if part.title == paginate.current_page -%}
                            <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                          {%- else -%}
                            <span>{{ part.title }}</span>
                          {%- endif -%}
                        {%- endif -%}
                      </li>
                    {%- endfor -%}

                    {%- if paginate.next -%}
                      <li>
                        <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                          <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                          </svg>
                        </a>
                      </li>
                    {%- endif -%}
                    </ul>
                  </nav>
              {%- endif -%}
            {%- endif -%}
          </div>
          {%- endpaginate -%}
        </div>
      </div>
    </div>
  </div>
</section>
{% javascript %}
  window.onload = () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  }
{% endjavascript %}