<section class="flyer-page">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3">
          {% render 'left-sidebar' %}
          
        </div>
        <div class="col-12 col-md-9 mt-4 mt-md-0">
          <div class="flyers-data">
            <h1 class="main-page-title page-title h0">
              {{ page.title | escape }}
            </h1>
            <div class="page-feat-image">
                {%- if block.settings.banner_image != blank -%}
                {{ block.settings.banner_image | image_url: width: 'auto' | image_tag:
                  loading: 'lazy',
                  alt: block.settings.feature_icon.alt | escape
                }}
              {%- else -%}
               
              {{ 'mattressville_flyers.jpg' | asset_url | img_tag: 'flyers' }}
              {%- endif -%}
            </div>
            <div class="page-content">
              <p>{{ page.content | escape }}</p>
            </div>
            <div class="cta-box">
              <a href="{{block.settings.current_flyer_button_link}}" class="button-primary-rounded">{{block.settings.current_flyer_button_text}}</a>
              <a href="{{block.settings.canada_flyer_button_link}}" class="button-primary-rounded">{{block.settings.canada_flyer_button_text}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% schema %}
  {
    "name": "Flyer Content",
    "settings": [
      {
        "id": "banner_image",
        "type": "image_picker",
        "label": "Flyer Banner Image"
      },
      {
        "id": "current_flyer_button_text",
        "type": "text",
        "label": "Current Flyer Button Text",
        "default": "Our Current Flyer"
      },
      {
        "id": "current_flyer_button_link",
        "type": "url",
        "label": "Current Flyer Button Link"
      },
      {
        "id": "canada_flyer_button_text",
        "type": "text",
        "label": "Canada Flyer Button Text",
        "default": "Canada Wide Flyer"
      },
      {
        "id": "canada_flyer_button_link",
        "type": "url",
        "label": "Canada Flyer Button Link"
      }
    ],
    "presets": [
    {
      "name": "Flyer Content"
    }
  ]
  }
{% endschema %}